$color-white: #fff;
$sidebar-nav-li-active-bg: var(--color-ui-primary-active);

.header-color-cj {
  background-color: var(--bg-navbar) !important;
}
.bgcolorfondocj {
  background-color: var(--color-ui-primary) !important;
}

.fondogeneral {
  background-color: var(--bg-background) !important;
}



.btn-success::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-btn-add);
  z-index: -1;
  transition: filter 0.2s ease-in-out;
}

button:hover::before {
  filter: brightness(1.3) !important;
}

input {
  border: 2px solid var(--color-border-input);
  border-radius: 10px;
  margin-left: 18px;
  padding: 5px;
  background-image: none;
}

/*Elimina el icono que viene por default en el input del tipo number*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* ========================================
   Etiquetas
======================================== */
input:focus {
  border-color: var(--color-focus-input);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--color-shadow-input);
  caret-color: auto;
}
button {
  cursor: pointer;
}

.bg-footer {
  background-color: var(--bg-footer);
}

#tituloModuloSidebar {
  text-align: left; /* Alineación del texto a la izquierda */
  font-size: 18px; /* Tamaño de fuente */
  margin-left: 20px; /* Margen izquierdo para separar del borde izquierdo */
  font: inherit;
  opacity: 1; /* Opacidad inicial */
  transition: opacity 0.3s ease; /* Transición de opacidad */
}

/* Ocultar #tituloModuloSidebar cuando el sidebar tenga la clase .sidebar-narrow-unfoldable */
.sidebar-narrow-unfoldable #tituloModuloSidebar {
  opacity: 0; /* Cambiar opacidad a 0 para ocultar el elemento */
  pointer-events: none; /* Desactivar eventos del puntero para evitar interacciones cuando está oculto */
}

/* Mostrar #tituloModuloSidebar cuando el sidebar está en hover */
.sidebar-narrow-unfoldable:hover #tituloModuloSidebar {
  opacity: 1; /* Cambiar opacidad a 1 para mostrar el elemento durante el hover */
  pointer-events: auto; /* Activar eventos del puntero cuando se muestra */
}

.bg-container-logo {
  background-color: var(--bg-color-logo) !important;
}
.text-uppercase {
  text-transform: uppercase;
}

.text-uppercase::placeholder {
  text-transform: none;
}

.inputLayout {
  margin-left: 17px;
  margin-right: 17px;
}

.textGeneral {
  border-radius: 10px;
  border: 2px solid var(--color-border-input) !important;
  background: #fff;
}
.btn-checklist {
  background-color: var(--color-btn-checklist) !important;
  border: none !important;
  width: 32px;
  height: 34px;
}

@mixin btn-action {
  background-repeat: no-repeat;
  background-position: 10px center; /* Imagen a 10px desde el borde izquierdo */
  background-size: 20px 20px; /* Tamaño de la imagen */
  padding-left: 40px; /* Ajusté el padding izquierdo para más espacio entre imagen y texto */
  margin-top: 13px;
  padding-top: 6px;
  padding-right: 13px;
  padding-bottom: 6px;
  display: inline-block;
  color: $color-white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  white-space: nowrap;
}

.add-item {
  @include btn-action();
  background-image: url("/assets/imgUI/agregarmodal.png");
  padding-left: 40px; /* Ajusté el padding izquierdo para más espacio entre imagen y texto */
  border: 2px solid var(--color-btn-add);
  background-color: var(--color-btn-add);
}
.add-plus {
  @include btn-action();
  background-image: url("/assets/imgUI/fi-rr-plus-small.png");
  padding-left: 40px; /* Ajusté el padding izquierdo para más espacio entre imagen y texto */
  border: 2px solid var(--color-btn-add);
  background-color: var(--color-btn-add);
}

.btn-approved {
  @include btn-action();
  background-color: var(--color-btn-add) !important;
  border: 2px solid var(--color-btn-add) !important; /* Ajusté el borde para que se vea */
  padding-left: 5px;
}

.cancelarModal {
  @include btn-action();
  background-image: url("/assets/imgUI/cancelarmodal.png");
  background-color: var(--color-btn-cancel) !important;
  border: 2px solid var(--color-btn-cancel) !important; /* Ajusté el borde para que se vea */
  margin-right: 10px;
}

.btn-success {
  @include btn-action();
  background-color: var(--color-btn-add);
  border: 2px solid var(--color-btn-add);
  position: relative;
  padding-left: 10px;
  overflow: hidden;
  z-index: 0; 
}


.btn-config {
  @include btn-action();
  background-color: var(--color-btn-report);
  border: 2px solid var(--color-btn-report);
  padding-left: 10px;
}

.t-table {
  width: 100% !important;
  font-size: 10px !important;
  .expandable {
    cursor: pointer;
  }
  td {
    padding: 2px 8px;
  }
  tr:hover {
    background-color: #f2f2f3;
  }
  tbody tr {
    border-bottom: 1px solid #718ebf;
  }
  .row-title {
    color: #e9f1f7 !important;
  }

  .btn-secondary {
    background-color: var(--color-btn-print) !important;
    color: #fff !important;
  }
  .no-border {
    color: black !important;
    border: none !important;
    background: none !important;
  }
  .no-border:hover,
  .no-border:active {
    background: none !important;
  }
}

.t-header {
  background-color: rgb(235, 237, 239);
  padding: 2px 8px;
  border-top-width: 1px;
  border-top-color: rgba(218, 220, 224, 0.996);
  border-bottom-width: 1px;
  border-bottom-color: rgba(218, 220, 224, 0.996);
}

@mixin titulo {
  font-family: "Poppins", sans-serif;
  font-weight: 600 !important;
  line-height: 60px !important;
  text-align: left;
  color: var(--color-ui-primary) !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.titulolotemodal {
  @include titulo();
  margin-top: -5px;
  font-size: 35px;
  margin-bottom: -60px;
}

.titulolote {
  @include titulo();
  margin-top: -5px;
  font-size: 40px;
  margin-bottom: -60px;
  margin-left: 10px;
}
//Estilo de titulo de modal
.tituloModal {
  @include titulo();
  margin-top: 5px !important;
  font-size: 26px !important;
  margin-bottom: 0px !important;
  margin-left: 10px !important;
}

.tituloDetallemodal {
  @include titulo();
  font-size: 20px;
}
.formatNumerTable {
  text-align: right;
}
.formatTextLayout {
  color: var(--color-label) !important;
  font-family: "Nunito Sans" !important;
  margin-right: 3px !important;
  padding-left: 20px !important;
  margin-bottom: 5px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
}
.space-between {
  display: flex;
  justify-content: space-between;
}

@mixin estado {
  font-family: "Nunito Sans" !important;
  font-weight: 700 !important;
  line-height: 16.37px !important;
  text-align: center !important;
  border-radius: 5px !important;
  padding: 2px 7px !important;
  margin: 0 !important;
}

.estado-retirado {
  @include estado();
  background-color: var(--bg-state-inactive) !important; /* rojo */
  color: var(--color-state-inactive) !important; /* texto rojo oscuro */
  font-size: 10px !important;
}
.estado-completado {
  @include estado();
  background-color: var(--bg-state-success) !important; /* verde */
  color: var(--color-state-success) !important; /* texto verde oscuro */
  font-size: 10px !important;
}

.estado-pesado {
  @include estado();
  background-color: var(--bg-state-pending) !important;
  color: var(--color-state-pending) !important;
  font-size: 10px !important;
}

.strong-short-card {
  max-width: 350px; /* Limita el ancho máximo a 200px */
  overflow: hidden; /* Oculta el desbordamiento */
  text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  display: inline-block;
}

.strong-short-card:hover {
  max-width: none; /* Elimina el límite de ancho máximo */
  overflow: visible; /* Muestra el contenido desbordado */
  text-overflow: clip; /* Elimina los puntos suspensivos */
  white-space: normal; /* Permite que el texto se divida en varias líneas */
  cursor: pointer;
}


.field{
  overflow: hidden; /* Oculta el desbordamiento */
  text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.field:hover {
  max-width: none; /* Elimina el límite de ancho máximo */
  overflow: visible; /* Muestra el contenido desbordado */
  text-overflow: clip; /* Elimina los puntos suspensivos */
  white-space: normal; /* Permite que el texto se divida en varias líneas */
  cursor: pointer;
}
@mixin btn-only {
  padding: 5px 10px;
  color: #ffffff;
  border: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Nunito Sans";
  float: right;
}

.add-itembotonesmodales {
  @include btn-only();
  background-color: var(--color-btn-add);
  margin-right: 8px;
}

.btn-modal-trash {
  @include btn-only();
  background-color: var(--color-btn-filter-search);
}

.is-invalid {
  border-color: red;
}

.invalid-feedback {
  color: red;
  display: block;
  margin-left: 20px;
}

td {
  color: #202224;
  font-family: "Nunito Sans";
  font-size: 10px;
  font-weight: 600;
  line-height: 13.64px;
  text-align: left;
}

.entornotable {
  padding-top: 15px;
  background-color: white;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 10px #0000001a; /* Sombra suave */
  margin-top: 10px;
  margin-bottom: 10px;
}
.entornotableTicket {
  padding-top: 20px;
  background-color: white;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin-top: 10px;
  margin-bottom: 10px;
}

.entornotableTicketDatos2 {
  background-color: white;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 53%;
  height: 220px;
  margin-top: 10px;
}

c-card {
  border: none !important;
  border-radius: 20px !important;
  margin-bottom: 10px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
.card {
  border: none !important;
  border-radius: 20px !important;
  margin-bottom: 10px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

c-card-header {
  border-radius: 20px 20px 0 0 !important;
  background-color: white !important;
}

@mixin btn-filter {
  margin-right: 10px;
  margin-top: 17px;
  border: none;
  text-align: left;
  padding: 5px 25px;
  border-radius: 10px;
  color: white;
}

.btnbuscar {
  @include btn-filter();
  background-color: var(--color-btn-filter-search);
}
.btnlimpiar {
  @include btn-filter();
  background-color: var(--color-btn-filter-search);
}

.labelTitle {
  color: var(--color-ui-primary);
  font-family: "Nunito Sans";
  margin-top: 10px;
  margin-right: 3px;
  padding-left: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}

label {
  color: var(--color-label);
  font-family: "Nunito Sans";
  margin-right: 3px;
  padding-left: 15px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
}

.label-text {
  color: #272b2e;
  font-family: "Nunito Sans";
  margin-right: 3px;
  padding-left: 15px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
}

.colorfondolote {
  height: 100%;
  height: 100%;
}

.colorlote {
  background-color: var(--color-bg--focus-modal);
}

.thead tr.colorlotemodalthead th {
  background-color: #718ebf;
  color: white;
}
.modal-body {
  /* Hacer que el cuerpo ocupe todo el espacio del modal */
  height: 100%; /* Ocupa toda la altura disponible */
  padding: 0; /* Elimina el padding para que el contenido llegue a los bordes */
}

.linkenmodal {
  color: #2280bf;
}

.balanzaLote {
  padding-left: 10px;
  padding-right: 30px;
}

.modaltickerbotones {
  background-color: #2280bf;
  color: white;
  font-family: "Nunito Sans";
  font-size: 15px; /* Aumenta el tamaño de la fuente */
  border: none; /* Cambiado de 5px a none para un borde más limpio */
  border-radius: 10px;
  padding: 6px;
}

.modaltickerbotones.disabled {
  background-color: #757575;
  cursor: not-allowed;
  pointer-events: none;
  color: white;
}
.modaltickerbotones:hover {
  background-color: var(--color-btn-add);
  color: white;
  font-family: "Nunito Sans";
  font-size: 15px; /* Aumenta el tamaño de la fuente */
  border: none; /* Cambiado de 5px a none para un borde más limpio */
  border-radius: 10px;
  padding: 6px;
}
input {
  border: 2px solid var(--color-border-input);
  border-radius: 10px;
  //margin-left: 18px;
  padding: 5px;
}
input[type="text"]:focus {
  caret-color: auto;
}

textarea:focus {
  caret-color: auto;
}

.btnmodalbuscar {
  border: 2px solid var(--color-border-input);
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  width: 60%;
  text-align: left;
  float: right;
}

a {
  cursor: pointer;
}
select[cSelect] {
  border: 2px solid var(--color-border-input);
  border-radius: 10px;
  //margin-left: 18px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  width: 180px;
  padding: 4px;
  cursor: pointer;
}
.btn {
  color: #fff !important;
}

.btn-info {
  position: relative;
  background-color: var(--color-btn-edit) !important;
  color: #fff !important;
  overflow: hidden;
  z-index: 0; /* fondo detrás */
}

.btn-info::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-btn-edit);
  z-index: -1;
  transition: filter 0.2s ease-in-out;
}

.btn-info:hover::before {
  filter: brightness(1.1);
}

.btn-danger {
  background-color: var(--color-btn-delete) !important;
  color: #fff !important;
}
.selectBoostrap {
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  width: 180px;
  padding: 4px;
  cursor: pointer;
}
.custom-datetime-input {
  border: 2px solid #dfeaf2;
  border-radius: 10px;
  padding: 5px;
  width: 174px;
  cursor: pointer;
}
.totalpaginastable {
  margin-top: 30px;
  margin-left: 30px;
}

//modales

.colorlote .modal-content {
  background-color: var(--color-bg-modal); //color de fondo
}

.colorlote .modal-body {
  padding: 20px;
}
textarea {
  border: 2px solid var(--color-border-input);
  border-radius: 10px;
  padding: 5px;
}
.modalfooterlote {
  text-align: right;
}
.clickable-row {
  cursor: pointer;
}

strong {
  color: #4e535a;
}

/* Define el estilo general del select */
.label-like-select {
  appearance: none; /* Elimina los estilos predeterminados */
  -webkit-appearance: none;
  margin-left: 0px !important;
  -moz-appearance: none;
  padding: 8px 12px;
  border: none !important; /* Sin borde */
  background: none; /* Sin fondo */
  font-size: 16px;
  color: #333; /* Color de texto similar al label */
  cursor: default; /* Cursor de texto */
}

.label-like-select:disabled {
  color: #666; /* Color para cuando el select está deshabilitado */
}

/* Estilo de la flecha */
.label-like-select:after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background: none; /* Sin imagen de fondo */
  pointer-events: none;
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}

.select-container {
  position: relative;
  display: inline-block;
}

.img-avatar {
  background-image: url("/assets/img/avatars/default-avatar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 50px;
}

th {
  color: black;
}

.input-valid {
  border-color: #28a745; /* verde */
}

.input-invalid {
  border-color: #dc3545; /* rojo */
}

.agregarpesdomodal {
  background-color: #757575;
  color: white;
  font-size: 14px;
  font-family: "Nunito Sans";
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  border: 5px;
}


@media (max-width: 768px){
  .bg-container-logo {
  display: none !important;
}}