/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import "variables";
@import "paleta";
$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

// Import Material styles
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "@angular/material";

// Prism.js
@import "examples";

// If you want to add something do it here
@import "custom";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$color-fondo-sistema: black;

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 100%;
  }
}

.text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.border-white-gray {
  border: 1px solid rgb(226, 226, 226) !important;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1) !important;
}

.circle-status {
  position: absolute;
  bottom: -0.25rem;
  right: 1.8rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 9999px;
}


.bg-blue-50 {
  background-color: oklch(97% 0.014 254.604);
}
:root {
  --color-label: #0f4c75;
  --color-ui-primary: #0c2556;
  --color-ui-primary-active: #c9a515;
  --color-btn-map: #e09f10;
  --color-state-success: #437935;
  --color-state-printed: #00123a;
  --color-state-pending: #a08207;
  --color-state-in-process: #0e4881;
  --color-state-inactive: #c62828;
  --color-focus-input: #86b7fe;
  --color-btn-print: #9da5b1;
  --color-btn-filter-search: #3d5178;
  --color-btn-edit: #39f;
  --color-btn-delete: #e55353;
  --color-btn-checklist: #437935;
  --color-btn-cancel: #5932ea;
  --color-btn-bank: #39f;
  --color-btn-report: #1f69b3;
  --color-btn-association: #363b42;
  --color-btn-add: #437935;
  --color-shadow-input: #0b6afa40;
  --color-border-input: #dfeaf2;
  --bg-table-detraction: #ffd7d5;
  --bg-table-checklist-success: #d4f8cc;
  --bg-table-checklist-pending: #fff0b6;
  --bg-table-bank: #e2eaf3;
  --bg-state-success: #c8e6c9;
  --bg-state-print: #a9bfff;
  --bg-state-pending: #fff0b6;
  --bg-state-in-process: #a5cffa;
  --bg-state-inactive: #ffcdd2;
  --bg-navbar: #818ca2;
  --bg-header-detraction: #fab3ae;
  --bg-header-bank: #97bce6;
  --bg-background: #f8faff;
  --color-btn-detraction: #c72216;
  --bg-header-percentage: #84c775;
  --color-bg-modal: #f3f7f9;
  --color-bg--focus-modal: #3333334d;
  --bg-table-body-report-au: #f4f5df;
  --bg-table-body-comercial: #47a3ff4f;
  --bg-table-body-report-ag: #ebedef;
  --bg-table-body-report-cs: #ebedef;
  --bg-table-header-report-au: #bacd6345;
  --bg-table-header-report-ag: #b3b1bea3;
  --bg-footer: none;
  --bg-color-logo: #36df4d;
}
.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  @include ltr-rtl("padding-right", var(--cui-sidebar-occupy-end, 0));
  will-change: auto;
  @include transition(padding 0.15s);
}
.form-floating > .form-select {
  padding-top: 1.625rem !important;
  padding-bottom: 0.625rem !important;
}

.image-container .delete-btn {
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.image-container:hover .delete-btn {
  opacity: 1;
  pointer-events: auto;
}
