<footer class="footer">
  <div class="footer-container">
    <div fxLayout="row wrap" fxLayoutGap="32px">
      <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
        <h3>CanchaReservas</h3>
        <p>La plataforma líder en reservas de canchas deportivas</p>
        <div class="social-icons">
          <button mat-icon-button>
            <mat-icon>facebook</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>twitter</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>instagram</mat-icon>
          </button>
        </div>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
        <h4>Para Clientes</h4>
        <ul>
          <li><a href="#">Buscar Canchas</a></li>
          <li><a href="#">Mis Reservas</a></li>
          <li><a href="#">Historial</a></li>
        </ul>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
        <h4>Para Proveedores</h4>
        <ul>
          <li><a href="#">Registrar Cancha</a></li>
          <li><a href="#">Panel de Control</a></li>
          <li><a href="#">Estadísticas</a></li>
        </ul>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
        <h4>Soporte</h4>
        <ul>
          <li><a href="#">Centro de Ayuda</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Términos y Condiciones</a></li>
        </ul>
      </div>
    </div>

    <mat-divider></mat-divider>
    
    <div class="footer-bottom">
      <p>&copy; 2024 CanchaReservas. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>