.error-icon {
  font-size: 80px !important;
  width: 80px !important;
  height: 80px !important;
}

@media (min-width: 640px) { 
  .error-icon {
    font-size: 100px !important;
    width: 100px !important;
    height: 100px !important;
  }
}
