<mat-toolbar class="header-toolbar !bg-white-600 text-white">
  <div class="flex justify-between items-center w-full max-w-[1200px] mx-auto px-4">
    <!-- Logo (izquierda) -->
    <div class="flex items-center gap-2">
      <mat-icon class="logo-icon !text-primary-600">sports_soccer</mat-icon>
      <span class="logo-text title-main">CanchaReservas</span>
    </div>

    <!-- Acciones (derecha) -->
    <div class="flex items-center gap-4">
      <!-- Desktop (>=640px) -->
      <div class="hidden sm:flex items-center gap-4">
        <button
          mat-button
          class="btn-clean-primary hover:"
          (click)="onIniciarSesion()"
        >
          <mat-icon >login</mat-icon>
          Iniciar Sesión
        </button>

        <button class="!bg-primary-500 !text-white hover:!bg-primary-600 transition " mat-button (click)="onRegistrarse()">
          Registrarse
        </button>
      </div>

      <!-- Mobile (<640px) -->
      <button
        mat-icon-button
        class="sm:!hidden hover:!text-secondary-200"
        [matMenuTriggerFor]="mobileMenu"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

<!-- Mobile Menu -->
<mat-menu #mobileMenu="matMenu">
  <button mat-menu-item (click)="onIniciarSesion()">
    <mat-icon>login</mat-icon>
    <span>Iniciar Sesión</span>
  </button>
  <button mat-menu-item (click)="onRegistrarse()">
    <mat-icon>person_add</mat-icon>
    <span>Registrarse</span>
  </button>
</mat-menu>
